doctype html
html(lang="en")

head
    title Confirmation Page

body
    h1 Email confirmed
    p Your email has been activated
    a(href = "http://localhost:3000/login-page")
        button(class = "gotToLoginBtn") Go to Login Page

